<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<!-- fontawsome link -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Fullhouse</title>
</head>
<body>
    <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle">
                <i class="fas fa-bars"></i>
            </span>
        <a href="../index.html" class="logo"><img src="../images/fullhouse.png" class="logo-img" alt=""></a>
        <ul class="main-nav" id="js-menu">
          <li>
            <a href="../index.html" class="nav-links">Home</a>
          </li>
          <li>
            <a href="./About.html" class="nav-links">About</a>
          </li>
          <li>
            <a href="./Product.html" class="nav-links">Product</a>
          </li>
          <li>
            <a href="./Services.html" class="nav-links">Services</a>
          </li>
          <li>
            <a href="./Contact.html" class="nav-links">Contact Us</a>
          </li>
        </ul>
      </nav>
      about
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../js/script.js"></script>
</body>
</html>

